.page-nav {
  position: fixed;
  top: 103px;
  z-index: 100;
  width: 100%;
  height: 39px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #d5d3d3;
  .get-scroll & {
    top: 0;
    height: 80px;
  }
  .container {
    height: 39px;
    display: flex;
    align-items: center;
  }
  a {
    font-size: 12px;
    color: #666;
  }
  span {
    font-size: 12px;
    color: #d5d3d3;
    margin: 0 5px;
  }
  span.title {
    font-size: 12px;
    color: #666;
  }
}

main.faq-page {
  .get-scroll & {
    padding-top: 100px;
  }
  .title {
    padding-top: 100px;
    text-align: center;
    h1 {
      font-size: 30px;
      margin-bottom: 10px;
      .get-scroll & {
        font-size: 21px;
        position: fixed;
        z-index: 100;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .search {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      input {
        width: 406px;
        border: 1px solid #e1e1e1;

        &::placeholder {
          font-size: 13px;
          color: #cecece;
          padding-left: 7px;
        }
      }
      .btn {
        width: 80px;
        height: 40px;
        font-size: 13px;
        background-color: #1e75d6;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .tab-menu {
    margin-top: 40px;
    ul {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #e1e1e1;
      border-right: none;
      li {
        height: 48px;
        flex: 1 1 20%;
        max-width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #e1e1e1;
        &:nth-child(-n+5) {
          border-bottom: 1px solid #e1e1e1;
        }
        &:hover {
          background-color: #f0f0f0;
          color: #1e75d6;
        }
        &.is-active {
          background-color: #1e75d6;
          color: #fff;
        }
      }
    }
  }

  .faq-board {
    margin: 10px 0;
    padding-bottom: 100px;
    &.item2 {
      display: none;
    }
    .tab-list {
      position: relative;
      margin-bottom: 40px;
      a {
        font-size: 15px;
        margin-right: 20px;
        &:hover,
        &.is-active {
          color: #0088cc;
          text-decoration: underline;
        }
        &:after {
          content: '';
          width: 1px;
          height: 15px;
          background: #e5e5e5;
          position: absolute;
          top: 1px;
          margin-left: 10px;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }

    h2 {
      font-size: 21px;
      margin-bottom: 15px;
    }
    ul {
      border-top: 2px solid #666;
      li {
        border-bottom: 1px solid #f0f0f0;
        &.more-que {
          display: none;
          &.active {
            display: block;
          }
        }
        &.more-btn {
          font-size: 13px;
          text-align: center;
          padding: 10px;
          color: #1e75d6;
          cursor: pointer;
          i {
            font-weight: 600;
            font-size: 15px;
          }
          &.active {
            display: none;
          }
        }
      }
      .answer {
        background-color: #fafafa;
        padding: 35px 64px 34px;
        display: none;
        line-height: 1.5;
        color: #666;
        font-size: 15px;
      }
      .que {
        height: 53px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px 14px 60px;
        cursor: pointer;
        p {
          color: #000;
          font-size: 15px;

          &.is-active {
            font-weight: 600;
          }
        }
        .icon {
          border: 1px solid #d5d3d3;
          padding: 2px 4px;
          i {
            color: #666;
            font-weight: 600;
            &.fa-angle-up {
              display: none;
            }
          }
          &.is-active {
            .fa-angle-up {
              display: block;
              color: #0088cc;
            }
            .fa-angle-down {
              display: none;
            }
          }
        }
      }
    }
  }
}

