html, body {height:100%;}

body {
    font-family: 'YouandiModern', 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

#wrap {
    min-width: 1414px;
}
.container {
    width: 1414px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-sm {
    width: 1056px;
    margin: 0 auto;
}


//main-fade 슬라이드
.card-slide,
.slider {
    position: relative;
    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: -10%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        li {
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 1px solid #ddd;
            margin: 0 5px;
            &.slick-active {
                background: #888;
            }
            button {
                display: none;
            }
        }
    }
}
.card-slide-container,
.slick-container {
    position: relative;
    .ctrl {
        background: url("../images/sp_arrow.png") no-repeat;
        position: absolute;
        bottom: -19px;
        left: 32%;
        display: flex;
        &.pause {
            .btn-pause {
                display: none;
            }
            .btn-play {
                display: block;
            }
        }
        .btn-pause {
            width: 8px;
            height: 8px;
            background-position: -40px 0;
        }
        .btn-play {
            width: 8px;
            height: 8px;
            background-position: -50px 0;
            display: none;
        }
    }
}


.back-top {
    position: fixed;
    bottom: -50px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #d5d3d3;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .show-backtop & {
        bottom: 50px;
        transition: 0.5s;
    }
}


