#footer {
  background-color: #fafafa;
  padding: 50px 0;
  font-size: 12px;
  font-weight: 600;
  .footer-list {
    text-align: center;
    .bar {
      position: relative;
      &:after {
        content: '';
        width: 1px;
        height: 13px;
        background-color: rgba(153, 153, 153, 0.23);
        position: absolute;
        right: -3px;
      }
    }
    .menu {
      a {
        padding: 0 7px;
        color: #000;
        &:hover {
          color: #0088cc;
        }
      }
    }
    ul em {
      color: #000;
    }
    ul.tel-list {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      color: #888;
      li {
        position: relative;
        padding: 0 8px;
        &::after {
          content: '';
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background-color: #999;
          position: absolute;
          top: 4px;
          left: 0;
        }
        &:first-child {
          &::after {
            display: none;
          }
        }
      }
    }
    ul.info {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      li {
        padding: 0 8px;
        color: #888;
        a {
          color: #888;
          &:hover {
            color: #0088cc;
          }
        }
      }
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      .sns a {
        background: url("../images/icon_share_footer3.png") no-repeat;
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-left: 10px;
        &.facebook {
          background-position: 0 0;
        }
        &.instagram {
          background-position: -34px 0;
        }
        &.kakaoplus {
          background-position: -67px 0;
        }
        &.youtube {
          background-position: -102px 0;
        }
        &.blog {
          background-position: -142px 0;
        }
        &.post {
          background-position: -182px 0;
        }
        &.twitter {
          background-position: -217px 0;
        }
      }
      .mark a {
        background: url("../images/ico_kerti_mark.png") no-repeat;
        width: 71px;
        height: 32px;
        display: inline-block;
        &.ico_iso {
          background-position: 0 0;
          margin-left: 20px;
          margin-right: 10px;
        }
        &.ico_kwacc {
          width: 45px;
          background-position: 100% 0;
          margin-right: 20px;
        }
      }

      .site {
        position: relative;
        .name {
          width: 120px;
          background-color: rgba(201, 201, 201, 0.11);
          border: 1px solid #ccc;
          padding: 9px 10px;
          display: flex;
          justify-content: space-between;
          color: #666;
          cursor: pointer;
          .fa-caret-down {
            display: none;
            &.active {
              display: block;
            }
          }
          .fa-caret-up {
            &.active {
              display: none;
            }
          }
        }
        .dropdown {
          position: absolute;
          z-index: 100;
          bottom: 100%;
          width: 240px;
          border: 1px solid rgba(215, 214, 214, 0.76);
          display: none;
          a {
            display: flex;
            background-color: #fff;
            padding: 7px;
            color: #666;
            font-size: 12px;
            font-weight: 400;
            &:hover {
              color: #1e75d6;
            }
          }
          &.active {
            display: block;
            transition: .5s;
          }
        }
      }
    }
    .address {
      margin: 15px 0 30px 0;
      font-weight: 400;
      color: #666;
      ul {
        display: flex;
        justify-content: center;
        li {
          padding: 10px;
        }
      }
    }
  }
}