main {
  .container {
    padding: 50px 0 100px 0;
  }
  .contents {
    display: flex;
    width: 100%;
    h1 {
      font-size: 21px;
      margin-bottom: 15px;
      letter-spacing: -0.5px;
    }
    .login {
      width: 344px;
      height: 692px;
      background-color: #888;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 37px 26px;
      .title {
        width: 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        h1 {
          margin-bottom: 0;
        }
        a {
          color: #fff;
          margin-right: 20px;
          &:hover {
            border-bottom: 2px solid #fff;
          }
        }
        span {
          border: 1px solid #fff;
          font-size: 11px;
          padding: 3px 8px;
          cursor: pointer;
          &:hover {
            background-color: #fff;
            color: #333;
          }
        }
      }
      .btn-menu {
        width: 240px;
        background-color: #fff;
        border-radius: 3px;
        height: 32px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
        p {
          color: #666;
          font-size: 13px;
          padding: 15px 10px;
          cursor: pointer;
          &:hover {
            color: #0088cc;
          }
          &:nth-child(2) {
            border: 1px solid #888;
            border-top: none;
            border-bottom: none;
          }
        }

      }
      .search {
        display: flex;
        margin-bottom: 30px;
        width: 240px;
        a {
          display: flex;
          justify-content: flex-start;
          font-size: 13px;
          color: #fff;
          &:hover {
            text-decoration: underline;
          }
          &:first-child {
            margin-right: 20px;
          }
        }
      }
      img {
        width: 70%;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
      }
      .login-desc {
        margin-top: 20px;
        color: #fff;
        line-height: 1.5;
        cursor: pointer;
        &:hover {
          p.bold span {
            color: #fff;
          }
        }
        p.bold {
          font-size: 21px;
          font-weight: 600;
          padding-bottom: 20px;
          span {
            color: #333;
          }
        }
        p {
          padding-top: 20px;
        }
      }
    }

    .card-guide {
      width: 691px;
      border: 1px solid #d5d3d3;
      .card-application {
        height: 408px;
        padding: 0 53px 17px;
        .title {
          padding-top: 37px;
          display: flex;
          justify-content: space-between;
          .links {
            margin-right: -10px;
            a {
              color: #999;
              font-size: 13px;
              padding-left: 10px;
              &:hover {
                color: #0088cc;
              }
              &.bar {
                position: relative;
                &:after {
                  content: '';
                  width: 1px;
                  height: 13px;
                  background-color: #e1e1e1;
                  position: absolute;
                  top: 0;
                  right: -8px;
                }
              }
            }
          }
        }
        .card-slide {
          position: relative;
          .item {
            position: relative;
            cursor: pointer;
            img {
              width: 152px;
            }
            span {
              position: absolute;
              top: 215px;
              left: 6px;
              background-color: rgba(0, 0, 0, 0.56);
              color: #fff;
              border-radius: 3px;
              padding: 4px;
              font-size: 11px;
            }
            p {
              margin-top: 15px;
              font-size: 15px;
              letter-spacing: -1px;
              &:hover {
                color: #0088cc;
              }
            }
          }
          .slick-dots {
            bottom: -12%;
          }
        }
      }

      .card-benefits {
        height: 282px;
        display: flex;
        border-top: 1px solid #d5d3d3;
        .item {
          width: 345px;
          padding: 27px 53px;
          &.line {
            border-right: 1px solid #d5d3d3;
          }
          h1 {
            margin-bottom: 19px;
          }
          img {
            width: 240px;
          }
        }
        a {
          p {
            font-size: 13px;
            color: #666;
            margin-top: 12px;
          }
          &:hover {
            color: #0088cc;
          }
        }
      }
    }

    .bank-guide {
      width: 346px;
      height: 692px;
      border: 1px solid #d5d3d3;
      border-left: none;
      padding: 37px 53px;
      overflow: hidden;
      h1 {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      .bank-slide {
        .slick-dots {
          bottom: -14%;
        }
        .item {
          img {
            width: 240px;
          }
          p {
            width: 240px;
            padding-top: 10px;
            font-size: 15px;
            color: #333;
            line-height: 1.2;
            &:hover {
              color: #0088cc;
            }
          }
        }
      }
      .bank-list {
        width: 218px;
        margin-top: 50px;
        li {
          border-top: 1px solid #d5d3d3;
          padding: 10px 0;
          a {
            p {
              color: #999;
              font-size: 13px;
              padding-bottom: 10px;
            }
            p.color {
              font-size: 15px;
              color: #000;
            }
            &:hover {
              .color {
                color: #1e75d6;
              }
            }
          }
        }
      }
    }
  }

  .seconds {
    overflow: hidden;
  }
  .seconds-area {
    height: 308px;
    padding: 37px 52px;
    border: 1px solid #d5d3d3;
    border-top: none;
    img {
      width: 240px;
    }
    &.culture {
      width: 344px;
    }
    &.service {
      width: 345px;
      border-left: none;
      border-right: none;
      .center {
        display: flex;
        .link {
          flex: 1;
          li {
            background-color: #f0f0f0;
            border: 1px solid #fff;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px 6px;
              font-size: 13px;
              color: #666;
              &:hover {
                color: #0088cc;
              }
            }
          }
        }
      }
      .desc-number {
        padding: 18px 0 9px;
        line-height: 1.2;
        border-bottom: 1px solid #f0f0f0;
        color: #666;
        font-size: 21px;
        p {
          font-size: 12px;
          color: #666;
        }
      }
      p {
        line-height: 20px;
        font-size: 13px;
        color: #666;
        a {
          color: #1e75d6;
          text-decoration: underline;
        }
      }
    }
    &.digital-project {
      width: 345px;
      border-right: none;
    }
    &.event {
      width: 346px;
      img {
        height: 135px;
      }
    }
    .item {
      cursor: pointer;
      p {
        padding-top: 15px;
        color: #666;
        font-size: 13px;
        line-height: 20px;
        &:hover {
          color: #0088cc;
        }
      }
    }
  }

  .notice-box {
    position: relative;
    height: 50px;
    background-color: rgba(213, 211, 211, 0.33);
    padding: 5px 20px;
    margin-top: 20px;
    color: #999;
    font-size: 13px;
    display: flex;
    align-items: center;
    a.title {
      display: flex;
      color: #000;
      font-size: 13px;
      margin-right: 10px;
      &:hover {
        color: #0088cc;
      }
    }
    .slide-container {
      width: 600px;
      .slick-arrow {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 21px;
        height: 21px;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.slick-prev {
          right: 50px;
        }
      }
      .item {
        cursor: pointer;
        .tit:hover {
          color: #0088cc;
        }
      }
    }
  }
}
